.not-found-page {
  text-align: center;
}

a {
  text-decoration: none;
}

.back-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #2a3aa2;
  }
}
